@import "../variables.scss";
.search-list {
	border: 1px solid $grey;
	border-top: none;
	height: calc((1.2em + 18px) * 5 + 2px);
	overflow: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	&:focus {
		outline: none;
	}
	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-track {
		background: $lightGrey;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $grey;
		border-radius: 5px;
	}
	&-element {
		padding: $defaultInsidePadding;
		&:hover,
		&.focus {
			background-color: $lightGrey;
		}
	}
}
